<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Main_Nav_Bottom</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://dcloud.io/hellomui/js/mui.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/aper/webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://dcloud.io/hellomui/css/mui.min.css" rel="stylesheet"/>
</head><!-- 在头部引入bootstrap的css包与js包 -->

<body>

<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">问诊体检单</h1>
</header>
<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item mui-active" href="#tabbar">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-ask">
        <span class="mui-icon mui-icon-email"></span>
        <span class="mui-tab-label">问诊</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-msg">
        <span class="mui-icon mui-icon-email"><span class="mui-badge">9</span></span>
        <span class="mui-tab-label">消息</span>
    </a>
    <a class="mui-tab-item" href="#tabbar-with-set">
        <span class="mui-icon mui-icon-gear"></span>
        <span class="mui-tab-label">设置</span>
    </a>
</nav>
<div class="mui-content">
    <!-- 首页 -->
    <div id="tabbar" class="mui-control-content mui-active">
        <button type="button" class="btn btn-info">首页</button>
    </div>
    <!-- 问诊 -->
    <div id="tabbar-with-ask" class="mui-control-content">
        <button type="button" class="btn btn-info">问诊</button>
    </div>
    <!-- 消息 -->
    <div id="tabbar-with-msg" class="mui-control-content">
        <ul class="mui-table-view mui-table-view-chevron">
            <tr th:each="msg:${userMsg}">
                <div class="mui-card">
                    <a th:href ="@{'./user/getREPLYID/' + ${msg.REPLY_ID} }">
                        <!--页眉，放置标题-->
                        <div class="mui-card-header mui-card-media">
                            <img src="img/head.png" />
                            <div class="mui-media-body">
                                "<td th:text="${msg.REPORTFORM_TITLE}"></td>"的回复
                                <br>回复于<span th:text="${msg.REPLY_TIME}"></span>
                            </div>
                        </div>
                        <!--内容区-->
                        <div class="mui-card-content">
                            <div style="margin:10px 5px">
                                <td th:text="${msg.REPLY_CONTENT}"></td>
                            </div>
                        </div>
                    </a>
                </div>
            </tr>
            <br>
        </ul>
    </div>
    <!-- 设置 -->
    <div id="tabbar-with-set" class="mui-control-content">
        <ul class="mui-table-view mui-table-view-chevron">
            <li class="mui-table-view-cell mui-media">
                <a class="mui-navigate-right" href="#account">
                    <img class="mui-media-object mui-pull-left head-img" id="head-img" src="static/img/assets/logo.png">
                    <div class="mui-media-body">
                        <span th:text="${session.loginUser}"></span>
                        <p class="mui-ellipsis">用户名:<span th:text="${session.loginUser}"></span></p>
                    </div>
                </a>
            </li>
        </ul>

        <ul class="mui-table-view" style="margin-top: 25px;">
            <li class="mui-table-view-cell">
                <a href="#account" class="mui-navigate-right">
                    账号与安全
                </a>
            </li>
        </ul>
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a href="#account" class="mui-navigate-right">
                    通用
                </a>
            </li>
        </ul>
        <ul class="mui-table-view" style="margin-top: 25px;">
            <li class="mui-table-view-cell">
                <a href="#account" class="mui-navigate-right">
                    关于APP
                </a>
            </li>
        </ul>
        <ul class="mui-table-view" style="margin-top: 25px;">
            <li class="mui-table-view-cell">
                <a href="#account" style="text-align: center;color: #FF3B30;">
                    退出登录
                </a>
            </li>
        </ul>
    </div>
</div>


<script>
    mui.init({
        swipeBack:true //启用右滑关闭功能
    });
</script>

</body>
</html>
