<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
    <title>Insert title here</title>
</head>
<body>

<table class="table">
    <tr>
        <td>序号</td>
        <td>标题</td>
        <td>操作</td>
    </tr>
    <tr th:each="csdn:${csdnListResult}">
        <td th:text="${csdn.article_id}"></td>
        <td th:text="${csdn.article_title}"></td>
        <td>
            <a th:href ="@{'insert/' + ${csdn['article_id']} }">导入</a>
            <!--<a onclick=th:text="'https://www.study2016.cn/article/' + ${blog['article_id']}">浏览</a>-->
        </td>
    </tr>
</table>

</body>
</html>