<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload=function(){
            var test = [[${insertResult}]];
            if(test == "1"){
                alert("导入成功！");
            }else{
                alert("导入失败！请尝试重新导入！");
            }
            window.history.back(-1);
        }

    </script>
</head>
<body>


</body>
</html>