<html xmlns:th="http://www.thymeleaf.org">
    <head>
       <title></title>
    </head>
    <body>
    <table border="1" id="stuTable">
        <tr>
            <td>title</td>
        </tr>
        <tr th:each="stu:${studentList}">
            <td th:text="${stu.a}">编号</td>
        </tr>
    </table>
    <button id="pltj">批量提交</button>
    <script>
        $("#pltj").click(
            function () {
                var checkbox = $("#stuTable").find(":checked");
                console.log(checkbox);
                if (checkbox == 0) {
                    return;
                } else {
                    var str = [];
                    for (var i = 0; i < checkbox.length; i++) {
                        var ck = checkbox[i];
                        var a = $(ck).val().trim();
                        str.push({id: a});
                        console.log("str==>" + str);
                    }
                    $.ajax({

                        url: "/admin/success",
                        datatype: "json",
                        data: {ids: JSON.stringify(str)},
                        success: function (data) {
                            alert(data);
                        }
                    });
                }
            });

    </script>
            </body>
</html>
